/* Up Class */
:root {
    --color1: white;
    --color2: #F76C6C;
    --color3: #A8D0E6;
    --color4: #374785;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}

/* Navbar Section */
#navbar {
    background-color: var(--color2);
    position: fixed;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    box-shadow: 1px 3px 5px 1px black;
    border-radius: 2px;
    z-index: 1;
}

#navbar ul {
    display: flex;
    list-style: none;
    gap: 1.7vw;
    padding-right: 25px;
}

a {
    text-decoration: none;
    color: var(--color1);
}

#navbar a:hover {
    text-decoration: underline var(--color1);
}

/* Welcome Section */

#pusheen-picture {
    padding-bottom: 2.8vh;
    width: 200px;
}

#welcome-section {
    background-color: var(--color4);
    height: 850px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

#welcome-section h1 {
    color: var(--color1);
    font-size: 5em;
}

#welcome-section h2 {
    color: var(--color2);
    font-size: 3.5em;
    font-style: italic;
    font-weight: 100;
}

/* Projects Section */
#projects {
    background-color: var(--color3);
    height: 1250px;
    color: white;
}

#projects h1 {
    font-size: 4.7em;
    text-align: center;
    padding: 10vh 0 1.2vh 0;
}

.project-tile {
    width: 450px;
    height: 450px;
    border-radius: 0 0 7px 7px;
    background-color: var(--color2);
}

.underline-gap {
    border: 2px solid var(--color2);
    width: 690px;
    margin: auto;
}

.project-boxes {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1500px;
    gap: 30px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.preview {
    width: 100%;
    height: 85%;

}

.project-tile p {
    font-size: 2.8em;
    text-align: center;
    padding-top: 18px;
}

#button {
    width: 10vw;
    height: 7.2vh;
    background-color: var(--color2);
    color: var(--color1);
    font-size: 2em;
    border-radius: 6px;
    border: transparent;
}

#button-space {
    display: flex;
    justify-content: center;
    padding-top: 3.5vh;
}

/* Conctact Section */

#contact {
    background-color: var(--color4);
    height: 630px;
}

#contact h2 {
    color: var(--color2);
    text-align: center;
    font-size: 3.5em;
    font-style: italic;
    font-weight: 100;
}

#contact h1 {
    color: var(--color1);
    text-align: center;
    padding-top: 4vh;
    font-size: 4.7em;
    padding-bottom: 1.5vh;
}

#contact ul {
    padding-top: 25vh;
    padding-bottom: 30vh;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 2.9em;
}

#contact a:hover {
    text-decoration: underline var(--color2);
}

/* Footer Section */

#footer-div {
    border: 2px solid var(--color2);
}

#footer {
    background-color: var(--color4);
    display: flex;
    justify-content: space-between;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
}

#footer p {
    color: var(--color1);
    font-size: 2.2em;
    padding-bottom: 3.5vh;
}

#author a:hover {
    animation: effectcolor 4s ease-out infinite;
}

/* Media querys and keyframes */

@keyframes effectcolor {
    25% {
        color: var(--color2)
    }

    50% {
        color: var(--color1);
    }

    75% {
        color: var(--color2)
    }

    100% {
        color: var(--color1);
    }
}


/* 
@media screen and (max-width: xxxxpx) {

}
*/
