/* Upper class*/

/* Header */

/* Body */
/* Mail section*/

/* Features section*/

/* Video section */

/* Pricing section*/
.price {
    border: 1px solid black;
    height: 300px;
    width: 300px;
}

/* Footer */
