/* MAIN */

html {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
    color: #333;
}

/* BODY */

body {
    background-color: #FFF;
    padding-bottom: 10px
}

.container-outside {
    background-color: #eee;
    border-radius: 6px;
}

.container-inner {
    background-color: #FFF;
    margin: 13px;
}

.img-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 10px 10px;
}

.list {
    padding-bottom: 5px;
    width: 580px;
    margin: auto;
}

ul > li {
    padding-bottom: 20px;
}

/* FONT AND IMG */

.life-description,
.details {
    font-style: italic;
}

.bold-text {
    font-weight: 650;
}

h1,
h2,
h3,
footer,
.below-title,
.description {
    text-align: center;
}

ul > li {
    font-size: 16px;
    letter-spacing: 1px;
}

.timeline-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.description {
    padding-top: 10px;
    padding-bottom: 15px;
}

.life-description {
    padding-top: 20px;
}

.life-description,
.details {
    font-size: 16px;
    padding-bottom: 15px;
    letter-spacing: 1px;
}

.title {
    padding-top: 35px;
    font-weight: 720;
    font-size: 40px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.foot-text {
    font-weight: 750;
    font-size: 19px;
    padding-bottom: 35px;
    letter-spacing: 1px;
}
